## Initialise Spark Session:

In [1]:
val spark = org.apache.spark.sql.SparkSession.builder
        .master("local") 
        .appName("Spark CSV Reader")
        .getOrCreate;

Intitializing Scala interpreter ...

Spark Web UI available at http://356e2a7fd1b6:4040
SparkContext available as 'sc' (version = 2.4.5, master = local[*], app id = local-1590037845952)
SparkSession available as 'spark'

2020-05-21 05:10:52,757 WARN  [Thread-4] sql.SparkSession$Builder (Logging.scala:logWarning(66)) - Using an existing SparkSession; some configuration may not take effect.

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@274abeea

### Preparing HDFS

In [2]:
!pwd

/home/sandpit/big-data-realestate/scripts

In [3]:
!cat ./../data-raw/Melbourne_housing_FULL.csv| wc -l

34858

In [4]:
! hadoop fs -mkdir -p  /tmp/rs_in
! hadoop fs -put   -p  ./../data-raw/Melbourne_housing_FULL.csv             /tmp/rs_in/mh.csv
! hadoop fs -ls        /tmp/rs_in/

put: `/tmp/rs_in/mh.csv': File exists


Found 1 items


-rw-r--r--   1 root root    5018236 2020-05-15 05:20 /tmp/rs_in/mh.csv

In [5]:
!hadoop fs -cat /tmp/rs_in/mh.csv | wc -l

34858

### Get config info about hdfs:

In [6]:
!hdfs getconf -confKey fs.defaultFS

hdfs://localhost:9000

In [7]:
val df = spark.read.format("csv").option("header", "true").load("hdfs://localhost:9000/tmp/rs_in/mh.csv")

df: org.apache.spark.sql.DataFrame = [Suburb: string, Address: string ... 19 more fields]

### Print schema:

In [8]:
df.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: string (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: string (nullable = true)
 |-- Bathroom: string (nullable = true)
 |-- Car: string (nullable = true)
 |-- Landsize: string (nullable = true)
 |-- BuildingArea: string (nullable = true)
 |-- YearBuilt: string (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: string (nullable = true)
 |-- Longtitude: string (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: string (nullable = true)

In [9]:
df.columns

res1: Array[String] = Array(Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Landsize, BuildingArea, YearBuilt, CouncilArea, Lattitude, Longtitude, Regionname, Propertycount)

### Show column types:

In [10]:
df.dtypes

res2: Array[(String, String)] = Array((Suburb,StringType), (Address,StringType), (Rooms,StringType), (Type,StringType), (Price,StringType), (Method,StringType), (SellerG,StringType), (Date,StringType), (Distance,StringType), (Postcode,StringType), (Bedroom2,StringType), (Bathroom,StringType), (Car,StringType), (Landsize,StringType), (BuildingArea,StringType), (YearBuilt,StringType), (CouncilArea,StringType), (Lattitude,StringType), (Longtitude,StringType), (Regionname,StringType), (Propertycount,StringType))

In [11]:
df.dtypes.filter(colTup => colTup._1 == "Suburb")

res3: Array[(String, String)] = Array((Suburb,StringType))

### Display first 12 columns:

In [12]:
df.select("Suburb","Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car").show()

+----------+-------------------+-----+----+-------+------+-------+---------+--------+--------+--------+----+
|    Suburb|            Address|Rooms|Type|  Price|Method|SellerG|     Date|Distance|Postcode|Bathroom| Car|
+----------+-------------------+-----+----+-------+------+-------+---------+--------+--------+--------+----+
|Abbotsford|      68 Studley St|    2|   h|   null|    SS| Jellis|3/09/2016|     2.5|    3067|       1|   1|
|Abbotsford|       85 Turner St|    2|   h|1480000|     S| Biggin|3/12/2016|     2.5|    3067|       1|   1|
|Abbotsford|    25 Bloomburg St|    2|   h|1035000|     S| Biggin|4/02/2016|     2.5|    3067|       1|   0|
|Abbotsford| 18/659 Victoria St|    3|   u|   null|    VB| Rounds|4/02/2016|     2.5|    3067|       2|   1|
|Abbotsford|       5 Charles St|    3|   h|1465000|    SP| Biggin|4/03/2017|     2.5|    3067|       2|   0|
|Abbotsford|   40 Federation La|    3|   h| 850000|    PI| Biggin|4/03/2017|     2.5|    3067|       2|   1|
|Abbotsford|        55a Park St|    4|   h|1600000|    VB| Nelson|4/06/2016|     2.5|    3067|       1|   2|
|Abbotsford|       16 Maugie St|    4|   h|   null|    SN| Nelson|6/08/2016|     2.5|    3067|       2|   2|
|Abbotsford|       53 Turner St|    2|   h|   null|     S| Biggin|6/08/2016|     2.5|    3067|       1|   2|
|Abbotsford|       99 Turner St|    2|   h|   null|     S|Collins|6/08/2016|     2.5|    3067|       2|   1|
|Abbotsford|     129 Charles St|    2|   h| 941000|     S| Jellis|7/05/2016|     2.5|    3067|       1|   0|
|Abbotsford|       124 Yarra St|    3|   h|1876000|     S| Nelson|7/05/2016|     2.5|    3067|       2|   0|
|Abbotsford|121/56 Nicholson St|    2|   u|   null|    PI| Biggin|7/11/2016|     2.5|    3067|       2|   1|
|Abbotsford|      17 Raphael St|    4|   h|   null|     W| Biggin|7/11/2016|     2.5|    3067|       2|   0|
|Abbotsford|      98 Charles St|    2|   h|1636000|     S| Nelson|8/10/2016|     2.5|    3067|       1|   2|
|Abbotsford|   217 Langridge St|    3|   h|1000000|     S| Jellis|8/10/2016|     2.5|    3067|    null|null|
|Abbotsford|    18a Mollison St|    2|   t| 745000|     S| Jellis|8/10/2016|     2.5|    3067|    null|null|
|Abbotsford| 6/241 Nicholson St|    1|   u| 300000|     S| Biggin|8/10/2016|     2.5|    3067|       1|   1|
|Abbotsford|      10 Valiant St|    2|   h|1097000|     S| Biggin|8/10/2016|     2.5|    3067|       1|   2|
|Abbotsford|403/609 Victoria St|    2|   u| 542000|     S| Dingle|8/10/2016|     2.5|    3067|    null|null|
+----------+-------------------+-----+----+-------+------+-------+---------+--------+--------+--------+----+
only showing top 20 rows

### Display last 8 columns:

In [13]:
df.select("Landsize","BuildingArea","YearBuilt","CouncilArea","Lattitude","Longtitude","Regionname","Propertycount").show(10)

+--------+------------+---------+------------------+---------+----------+--------------------+-------------+
|Landsize|BuildingArea|YearBuilt|       CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|
+--------+------------+---------+------------------+---------+----------+--------------------+-------------+
|     126|        null|     null|Yarra City Council| -37.8014|  144.9958|Northern Metropol...|         4019|
|     202|        null|     null|Yarra City Council| -37.7996|  144.9984|Northern Metropol...|         4019|
|     156|          79|     1900|Yarra City Council| -37.8079|  144.9934|Northern Metropol...|         4019|
|       0|        null|     null|Yarra City Council| -37.8114|  145.0116|Northern Metropol...|         4019|
|     134|         150|     1900|Yarra City Council| -37.8093|  144.9944|Northern Metropol...|         4019|
|      94|        null|     null|Yarra City Council| -37.7969|  144.9969|Northern Metropol...|         4019|
|     120|         142|     2014|Yarra City Council| -37.8072|  144.9941|Northern Metropol...|         4019|
|     400|         220|     2006|Yarra City Council| -37.7965|  144.9965|Northern Metropol...|         4019|
|     201|        null|     1900|Yarra City Council| -37.7995|  144.9974|Northern Metropol...|         4019|
|     202|        null|     1900|Yarra City Council| -37.7996|  144.9989|Northern Metropol...|         4019|
+--------+------------+---------+------------------+---------+----------+--------------------+-------------+
only showing top 10 rows

In [14]:
df.describe().select("summary","Price", "Rooms","Distance","Bathroom","Car").show()

+-------+-----------------+------------------+------------------+------------------+------------------+
|summary|            Price|             Rooms|          Distance|          Bathroom|               Car|
+-------+-----------------+------------------+------------------+------------------+------------------+
|  count|            27247|             34857|             34857|             26631|             26129|
|   mean|1050173.344955408|3.0310124221820582|11.184929423916007| 1.624798167549097|1.7288453442535114|
| stddev|641467.1301045999|0.9699329348975204| 6.788892455935938|0.7242120114699068|1.0107707853554244|
|    min|          1000000|                 1|              #N/A|                 0|                 0|
|    max|           999999|                 9|               9.9|                 9|                 9|
+-------+-----------------+------------------+------------------+------------------+------------------+

In [15]:
df.describe().select("summary","Price","Landsize", "BuildingArea").show()

+-------+-----------------+------------------+------------------+
|summary|            Price|          Landsize|      BuildingArea|
+-------+-----------------+------------------+------------------+
|  count|            27247|             23047|             13742|
|   mean|1050173.344955408|  593.598993361392| 160.2564003565711|
| stddev|641467.1301045999|3398.8419464599056|401.26706008485496|
|    min|          1000000|                 0|                 0|
|    max|           999999|               999|               999|
+-------+-----------------+------------------+------------------+

#### Change "#N/A" to null

In [16]:
var df_result =df
for (colName<-df.columns){ 
  df_result = df.withColumn(colName, when(trim(df(colName))==="#N/A",null).otherwise(df(colName)))
  }

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Address: string ... 19 more fields]

In [17]:
df_result.describe().select("summary","Price", "Rooms","Distance","Bathroom","Car").show()

+-------+-----------------+------------------+------------------+------------------+------------------+
|summary|            Price|             Rooms|          Distance|          Bathroom|               Car|
+-------+-----------------+------------------+------------------+------------------+------------------+
|  count|            27247|             34857|             34857|             26631|             26129|
|   mean|1050173.344955408|3.0310124221820582|11.184929423916007| 1.624798167549097|1.7288453442535114|
| stddev|641467.1301045999|0.9699329348975204| 6.788892455935938|0.7242120114699068|1.0107707853554244|
|    min|          1000000|                 1|              #N/A|                 0|                 0|
|    max|           999999|                 9|               9.9|                 9|                 9|
+-------+-----------------+------------------+------------------+------------------+------------------+

#### Convert numeric data represented as string into double

In [18]:
val doubleColNames = df_result.select("Price", "Rooms","Bedroom2","Distance","Bathroom","Car", "Landsize", "BuildingArea","Propertycount",
               "YearBuilt","Lattitude", "Longtitude").columns
//val colNames =df.columns
for (colName<-doubleColNames){ 
    df_result=df_result.withColumn(colName,col(colName).cast("Double"))
}

doubleColNames: Array[String] = Array(Price, Rooms, Bedroom2, Distance, Bathroom, Car, Landsize, BuildingArea, Propertycount, YearBuilt, Lattitude, Longtitude)

In [19]:
df_result.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: double (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longtitude: double (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: double (nullable = true)

### Filtering

In [20]:
df_result.filter($"Suburb"==="Glen Waverley").select("Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car").show()

+-----------------+-----+----+---------+------+---------+----------+--------+--------+--------+----+
|          Address|Rooms|Type|    Price|Method|  SellerG|      Date|Distance|Postcode|Bathroom| Car|
+-----------------+-----+----+---------+------+---------+----------+--------+--------+--------+----+
|     7 Marbray Dr|  4.0|   h|     null|    SN|Harcourts| 1/07/2017|    16.7|    3150|     1.0| 2.0|
|      24 Owens Av|  4.0|   h|1250000.0|     S|      Ray| 1/07/2017|    16.7|    3150|    null|null|
|515 Springvale Rd|  3.0|   h|     null|    PI|      Ray| 1/07/2017|    16.7|    3150|     1.0| 2.0|
| 22 Stableford Av|  3.0|   h|     null|     S|      Ray| 1/07/2017|    16.7|    3150|    null|null|
|  28 Brentwood Dr|  5.0|   h|     null|    PI|      Ray| 3/06/2017|    16.7|    3150|     5.0| 2.0|
|2/70 Leicester Av|  3.0|   t|     null|    SP|      LLC| 3/06/2017|    16.7|    3150|    null|null|
|    38 Margate Cr|  3.0|   h|     null|    SN| Woodards| 3/06/2017|    16.7|    3150|    null|null|
|    91 Orchard St|  4.0|   h|1750000.0|     S|Harcourts| 3/06/2017|    16.7|    3150|     1.0| 2.0|
|     1/8 Short St|  2.0|   u|1100000.0|     S|      Ray| 3/06/2017|    16.7|    3150|     1.0| 1.0|
|      20 The Rise|  4.0|   h|     null|     S|   Jellis| 3/06/2017|    16.7|    3150|     2.0| 2.0|
|  6/22 Tulloch Gr|  3.0|   t|     null|    PN|Harcourts| 3/06/2017|    16.7|    3150|     2.0| 2.0|
|   53 Campbell St|  3.0|   h|3056000.0|    PI|  VICProp|17/06/2017|    16.7|    3150|     2.0| 2.0|
|      19 Crown St|  3.0|   h|     null|    PI|Harcourts|17/06/2017|    16.7|    3150|     2.0| 4.0|
|   24 Florence St|  3.0|   h|1900000.0|    PI|Harcourts|17/06/2017|    16.7|    3150|     1.0| 0.0|
|   2 Grevillia Ct|  4.0|   h|     null|    SN|   Biggin|17/06/2017|    16.7|    3150|     2.0| 2.0|
|    57 Hinkler Rd|  3.0|   h|     null|    PI|   Biggin|17/06/2017|    16.7|    3150|     2.0| 0.0|
|    7 Kinnoull Gr|  5.0|   h|2650000.0|    PI|   Jellis|17/06/2017|    16.7|    3150|     3.0| 2.0|
|1/28 Leicester Av|  3.0|   u| 895000.0|     S|      Ray|17/06/2017|    16.7|    3150|    null|null|
|     10 Lennox Av|  6.0|   h|1290000.0|     S|Harcourts|17/06/2017|    16.7|    3150|    null|null|
|    39b Summit Cr|  5.0|   h|1125000.0|    PI| Woodards|17/06/2017|    16.7|    3150|    null|null|
+-----------------+-----+----+---------+------+---------+----------+--------+--------+--------+----+
only showing top 20 rows

In [21]:
df_result.where("Suburb = 'Abbotsford'").select("Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car", "Propertycount").show()

+-------------------+-----+----+---------+------+-------+---------+--------+--------+--------+----+-------------+
|            Address|Rooms|Type|    Price|Method|SellerG|     Date|Distance|Postcode|Bathroom| Car|Propertycount|
+-------------------+-----+----+---------+------+-------+---------+--------+--------+--------+----+-------------+
|      68 Studley St|  2.0|   h|     null|    SS| Jellis|3/09/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|       85 Turner St|  2.0|   h|1480000.0|     S| Biggin|3/12/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|    25 Bloomburg St|  2.0|   h|1035000.0|     S| Biggin|4/02/2016|     2.5|    3067|     1.0| 0.0|       4019.0|
| 18/659 Victoria St|  3.0|   u|     null|    VB| Rounds|4/02/2016|     2.5|    3067|     2.0| 1.0|       4019.0|
|       5 Charles St|  3.0|   h|1465000.0|    SP| Biggin|4/03/2017|     2.5|    3067|     2.0| 0.0|       4019.0|
|   40 Federation La|  3.0|   h| 850000.0|    PI| Biggin|4/03/2017|     2.5|    3067|     2.0| 1.0|       4019.0|
|        55a Park St|  4.0|   h|1600000.0|    VB| Nelson|4/06/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|       16 Maugie St|  4.0|   h|     null|    SN| Nelson|6/08/2016|     2.5|    3067|     2.0| 2.0|       4019.0|
|       53 Turner St|  2.0|   h|     null|     S| Biggin|6/08/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|       99 Turner St|  2.0|   h|     null|     S|Collins|6/08/2016|     2.5|    3067|     2.0| 1.0|       4019.0|
|     129 Charles St|  2.0|   h| 941000.0|     S| Jellis|7/05/2016|     2.5|    3067|     1.0| 0.0|       4019.0|
|       124 Yarra St|  3.0|   h|1876000.0|     S| Nelson|7/05/2016|     2.5|    3067|     2.0| 0.0|       4019.0|
|121/56 Nicholson St|  2.0|   u|     null|    PI| Biggin|7/11/2016|     2.5|    3067|     2.0| 1.0|       4019.0|
|      17 Raphael St|  4.0|   h|     null|     W| Biggin|7/11/2016|     2.5|    3067|     2.0| 0.0|       4019.0|
|      98 Charles St|  2.0|   h|1636000.0|     S| Nelson|8/10/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|   217 Langridge St|  3.0|   h|1000000.0|     S| Jellis|8/10/2016|     2.5|    3067|    null|null|       4019.0|
|    18a Mollison St|  2.0|   t| 745000.0|     S| Jellis|8/10/2016|     2.5|    3067|    null|null|       4019.0|
| 6/241 Nicholson St|  1.0|   u| 300000.0|     S| Biggin|8/10/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|      10 Valiant St|  2.0|   h|1097000.0|     S| Biggin|8/10/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|403/609 Victoria St|  2.0|   u| 542000.0|     S| Dingle|8/10/2016|     2.5|    3067|    null|null|       4019.0|
+-------------------+-----+----+---------+------+-------+---------+--------+--------+--------+----+-------------+
only showing top 20 rows

In [22]:
df_result.where("Price >1000000").filter("Suburb = 'Abbotsford'").select("Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car", "Propertycount").count()

res14: Long = 53

In [23]:
df_result.where("Price >1000000").filter("Suburb = 'Abbotsford'").select("Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car", "Propertycount").show()

+-------------------+-----+----+---------+------+--------+----------+--------+--------+--------+----+-------------+
|            Address|Rooms|Type|    Price|Method| SellerG|      Date|Distance|Postcode|Bathroom| Car|Propertycount|
+-------------------+-----+----+---------+------+--------+----------+--------+--------+--------+----+-------------+
|       85 Turner St|  2.0|   h|1480000.0|     S|  Biggin| 3/12/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|    25 Bloomburg St|  2.0|   h|1035000.0|     S|  Biggin| 4/02/2016|     2.5|    3067|     1.0| 0.0|       4019.0|
|       5 Charles St|  3.0|   h|1465000.0|    SP|  Biggin| 4/03/2017|     2.5|    3067|     2.0| 0.0|       4019.0|
|        55a Park St|  4.0|   h|1600000.0|    VB|  Nelson| 4/06/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|       124 Yarra St|  3.0|   h|1876000.0|     S|  Nelson| 7/05/2016|     2.5|    3067|     2.0| 0.0|       4019.0|
|      98 Charles St|  2.0|   h|1636000.0|     S|  Nelson| 8/10/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|      10 Valiant St|  2.0|   h|1097000.0|     S|  Biggin| 8/10/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|    40 Nicholson St|  3.0|   h|1350000.0|    VB|  Nelson|12/11/2016|     2.5|    3067|     2.0| 2.0|       4019.0|
|         22 Park St|  4.0|   h|1985000.0|     S|  Biggin|12/11/2016|     2.5|    3067|    null|null|       4019.0|
|      45 William St|  2.0|   h|1172500.0|     S|  Biggin|13/08/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|      16 William St|  2.0|   h|1310000.0|     S|  Jellis|15/10/2016|     2.5|    3067|     1.0| 2.0|       4019.0|
|        42 Henry St|  3.0|   h|1200000.0|     S|  Jellis|16/07/2016|     2.5|    3067|     2.0| 1.0|       4019.0|
|        78 Yarra St|  3.0|   h|1176500.0|     S|  LITTLE|16/07/2016|     2.5|    3067|     1.0| 1.0|       4019.0|
|    3/72 Charles St|  4.0|   h|1330000.0|    PI|     Kay|18/03/2017|     2.5|    3067|     2.0| 2.0|       4019.0|
|138/56 Nicholson St|  3.0|   u|1090000.0|     S|  Jellis|18/03/2017|     2.5|    3067|     2.0| 2.0|       4019.0|
|     52a William St|  2.0|   h|1100000.0|    PI|  Biggin|18/06/2016|     2.5|    3067|     2.0| 1.0|       4019.0|
|         49 Park St|  2.0|   h|1315000.0|     S|Marshall|19/11/2016|     2.5|    3067|     1.0| 0.0|       4019.0|
|   48 Abbotsford St|  3.0|   h|1447500.0|    PI|  Nelson|22/08/2016|     2.5|    3067|     3.0| 1.0|       4019.0|
|        159 Park St|  2.0|   h|1135000.0|     S|  Nelson|22/08/2016|     2.5|    3067|     2.0| 2.0|       4019.0|
|       31 Turner St|  4.0|   h|1542000.0|     S| Collins|24/09/2016|     2.5|    3067|     3.0| 1.0|       4019.0|
+-------------------+-----+----+---------+------+--------+----------+--------+--------+--------+----+-------------+
only showing top 20 rows

In [24]:
df_result.where("Price >1000000").filter("Suburb = 'Abbotsford'").collect()

res16: Array[org.apache.spark.sql.Row] = Array([Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,2.0,1.0,1.0,202.0,null,null,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0], [Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0], [Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0], [Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0], [Abbotsford,124 Yarra St,3.0,h,1876000.0,S,Nelson,7/05/2016,2.5,3067,4.0,2.0,0...

In [25]:
df_result.select("Address","Type","Method","SellerG","Postcode","CouncilArea","Regionname").count()

res17: Long = 34857

### Categorical Attributes

#### 1. Address

In [26]:
// rename into street keep only street name
import org.apache.spark.sql.functions.countDistinct
df_result.select("Address").distinct.show()

+-------------------+
|            Address|
+-------------------+
|      557 Orrong Rd|
|      19 Poulter St|
|    43 Riverside Av|
|       11 South Tce|
|  41 Marlborough St|
|          4 Park Cr|
|        3/3 Dega Av|
|        93 Tudor St|
|         10 Kent Rd|
|       18 Thomas St|
|   1/1 Glen Iris Rd|
|      7 Allambee Av|
|    83 Truganini Rd|
|       130 Keele St|
|       8 Winters Wy|
|     36a Mitford St|
|   7/223 Station St|
|1/146 Ascot Vale Rd|
|    5/60 Farnham St|
|      22 Renwick St|
+-------------------+
only showing top 20 rows

import org.apache.spark.sql.functions.countDistinct

In [27]:
df_result.filter("Address IS NULL").count()

res19: Long = 0

In [28]:
df_result.select("Address").distinct.count()

res20: Long = 34009

In [29]:
df_result.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Rooms: double (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longtitude: double (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: double (nullable = true)

#### Split Address on Street and Suffix

In [30]:
//split address on Street and Suffix
df_result = df_result.withColumn("Street",split(col("Address")," ").getItem(1)).
                   withColumn("Suffix",split(col("Address")," ").getItem(2)).drop("Address")
df_result.show()

+----------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+----+--------+------------+---------+------------------+---------+----------+--------------------+-------------+----------+------+
|    Suburb|Rooms|Type|    Price|Method|SellerG|     Date|Distance|Postcode|Bedroom2|Bathroom| Car|Landsize|BuildingArea|YearBuilt|       CouncilArea|Lattitude|Longtitude|          Regionname|Propertycount|    Street|Suffix|
+----------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+----+--------+------------+---------+------------------+---------+----------+--------------------+-------------+----------+------+
|Abbotsford|  2.0|   h|     null|    SS| Jellis|3/09/2016|     2.5|    3067|     2.0|     1.0| 1.0|   126.0|        null|     null|Yarra City Council| -37.8014|  144.9958|Northern Metropol...|       4019.0|   Studley|    St|
|Abbotsford|  2.0|   h|1480000.0|     S| Biggin|3/12/2016|     2.5|    3067|     2.0|     1.0| 1.0|   202.0|        null|     null|Yarra City Council| -37.7996|  144.9984|Northern Metropol...|       4019.0|    Turner|    St|
|Abbotsford|  2.0|   h|1035000.0|     S| Biggin|4/02/2016|     2.5|    3067|     2.0|     1.0| 0.0|   156.0|        79.0|   1900.0|Yarra City Council| -37.8079|  144.9934|Northern Metropol...|       4019.0| Bloomburg|    St|
|Abbotsford|  3.0|   u|     null|    VB| Rounds|4/02/2016|     2.5|    3067|     3.0|     2.0| 1.0|     0.0|        null|     null|Yarra City Council| -37.8114|  145.0116|Northern Metropol...|       4019.0|  Victoria|    St|
|Abbotsford|  3.0|   h|1465000.0|    SP| Biggin|4/03/2017|     2.5|    3067|     3.0|     2.0| 0.0|   134.0|       150.0|   1900.0|Yarra City Council| -37.8093|  144.9944|Northern Metropol...|       4019.0|   Charles|    St|
|Abbotsford|  3.0|   h| 850000.0|    PI| Biggin|4/03/2017|     2.5|    3067|     3.0|     2.0| 1.0|    94.0|        null|     null|Yarra City Council| -37.7969|  144.9969|Northern Metropol...|       4019.0|Federation|    La|
|Abbotsford|  4.0|   h|1600000.0|    VB| Nelson|4/06/2016|     2.5|    3067|     3.0|     1.0| 2.0|   120.0|       142.0|   2014.0|Yarra City Council| -37.8072|  144.9941|Northern Metropol...|       4019.0|      Park|    St|
|Abbotsford|  4.0|   h|     null|    SN| Nelson|6/08/2016|     2.5|    3067|     3.0|     2.0| 2.0|   400.0|       220.0|   2006.0|Yarra City Council| -37.7965|  144.9965|Northern Metropol...|       4019.0|    Maugie|    St|
|Abbotsford|  2.0|   h|     null|     S| Biggin|6/08/2016|     2.5|    3067|     4.0|     1.0| 2.0|   201.0|        null|   1900.0|Yarra City Council| -37.7995|  144.9974|Northern Metropol...|       4019.0|    Turner|    St|
|Abbotsford|  2.0|   h|     null|     S|Collins|6/08/2016|     2.5|    3067|     3.0|     2.0| 1.0|   202.0|        null|   1900.0|Yarra City Council| -37.7996|  144.9989|Northern Metropol...|       4019.0|    Turner|    St|
|Abbotsford|  2.0|   h| 941000.0|     S| Jellis|7/05/2016|     2.5|    3067|     2.0|     1.0| 0.0|   181.0|        null|     null|Yarra City Council| -37.8041|  144.9953|Northern Metropol...|       4019.0|   Charles|    St|
|Abbotsford|  3.0|   h|1876000.0|     S| Nelson|7/05/2016|     2.5|    3067|     4.0|     2.0| 0.0|   245.0|       210.0|   1910.0|Yarra City Council| -37.8024|  144.9993|Northern Metropol...|       4019.0|     Yarra|    St|
|Abbotsford|  2.0|   u|     null|    PI| Biggin|7/11/2016|     2.5|    3067|     2.0|     2.0| 1.0|  4292.0|        82.0|   2009.0|Yarra City Council| -37.8078|  144.9965|Northern Metropol...|       4019.0| Nicholson|    St|
|Abbotsford|  4.0|   h|     null|     W| Biggin|7/11/2016|     2.5|    3067|     6.0|     2.0| 0.0|   230.0|       147.0|   1860.0|Yarra City Council| -37.8066|  144.9936|Northern Metropol...|       4019.0|   Raphael|    St|
|Abbotsford|  2.0|   h|1636000.0|     S| Nelson|8/10/2016|     2.5|    3067|     2.0|     1.0| 2.0|   256.0|       107.0|   1890.0|Yarra City Council|  -37.806|  144.9954|Northern Metropol...|       4019.0|   Charles|    St|
|Abbotsford|  3.0|   h|1000000.0|     S| Jellis|8/10/2016|     2.5|    3067|    null|    null|null|    null|        null|     null|Yarra City Council|     null|      null|Northern Metropol...|       4019.0| Langridge|    St|
|Abbotsford|  2.0|   t| 745000.0|     S| Jellis|8/10/2016|     2.5|    3067|    null|    null|null|    null|        null|     null|Yarra City Council|     null|      null|Northern Metropol...|       4019.0|  Mollison|    St|
|Abbotsford|  1.0|   u| 300000.0|     S| Biggin|8/10/2016|     2.5|    3067|     1.0|     1.0| 1.0|     0.0|        null|     null|Yarra City Council| -37.8008|  144.9973|Northern Metropol...|       4019.0| Nicholson|    St|
|Abbotsford|  2.0|   h|1097000.0|     S| Biggin|8/10/2016|     2.5|    3067|     3.0|     1.0| 2.0|   220.0|        75.0|   1900.0|Yarra City Council|  -37.801|  144.9989|Northern Metropol...|       4019.0|   Valiant|    St|
|Abbotsford|  2.0|   u| 542000.0|     S| Dingle|8/10/2016|     2.5|    3067|    null|    null|null|    null|        null|     null|Yarra City Council|     null|      null|Northern Metropol...|       4019.0|  Victoria|    St|
+----------+-----+----+---------+------+-------+---------+--------+--------+--------+--------+----+--------+------------+---------+------------------+---------+----------+--------------------+-------------+----------+------+
only showing top 20 rows

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

In [31]:
df_result.printSchema()

root
 |-- Suburb: string (nullable = true)
 |-- Rooms: double (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Method: string (nullable = true)
 |-- SellerG: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Distance: double (nullable = true)
 |-- Postcode: string (nullable = true)
 |-- Bedroom2: double (nullable = true)
 |-- Bathroom: double (nullable = true)
 |-- Car: double (nullable = true)
 |-- Landsize: double (nullable = true)
 |-- BuildingArea: double (nullable = true)
 |-- YearBuilt: double (nullable = true)
 |-- CouncilArea: string (nullable = true)
 |-- Lattitude: double (nullable = true)
 |-- Longtitude: double (nullable = true)
 |-- Regionname: string (nullable = true)
 |-- Propertycount: double (nullable = true)
 |-- Street: string (nullable = true)
 |-- Suffix: string (nullable = true)

In [32]:
df_result.filter("Street IS NULL").count()

res24: Long = 0

#### 2. Postcode

In [33]:
var postcodes = df_result.select("Postcode").distinct()

postcodes: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Postcode: string]

In [34]:
df_result.filter("Postcode IS NULL").count()

res25: Long = 0

In [35]:
postcodes.count()

res26: Long = 212

#### 3. Suburb

In [36]:
val suburbs = df_result.select("Suburb").distinct

suburbs: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Suburb: string]

In [37]:
suburbs.count()

res27: Long = 351

In [38]:

df.filter("Suburb IS NULL").count()

res28: Long = 0

In [39]:
// make first letter of suburb upper case
import org.apache.spark.sql.functions._
df_result = df_result.withColumn("Suburb", initcap(col("Suburb")))
df_result.select("Suburb").distinct.show()

+----------------+
|          Suburb|
+----------------+
|  Brunswick West|
| South Melbourne|
|    Ivanhoe East|
|    Princes Hill|
|      Cranbourne|
|         Ashwood|
|       Brunswick|
|South Kingsville|
|        Brighton|
|        Oak Park|
|         Doveton|
|       Albanvale|
|      Brookfield|
|        Lynbrook|
|     Ferny Creek|
|     Pascoe Vale|
| Blackburn North|
|     Sandringham|
|   Botanic Ridge|
|          Carrum|
+----------------+
only showing top 20 rows

import org.apache.spark.sql.functions._
df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

#### 4. Type 
#### Distinct values

In [40]:
import org.apache.spark.sql.functions.countDistinct
df_result.select("Type").distinct.show()

+----+
|Type|
+----+
|   h|
|   u|
|   t|
+----+

import org.apache.spark.sql.functions.countDistinct

In [41]:
df_result = df_result.withColumn("Type", initcap(col("Type")))
df_result.select("Type").distinct.show()

+----+
|Type|
+----+
|   T|
|   U|
|   H|
+----+

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

#### Null values

In [42]:
df_result.filter("Type IS NULL").count()

res32: Long = 0

#### 5. Method

In [43]:
df_result.select("Method").distinct.show()

+------+
|Method|
+------+
|    PI|
|    SA|
|    SP|
|    VB|
|    PN|
|     W|
|     S|
|    SN|
|    SS|
+------+

#### Null values

In [44]:
df_result.filter("Method IS NULL").count()

res34: Long = 0

#### 6. SellerG

In [45]:
val sellers = df_result.select("SellerG").distinct

sellers: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [SellerG: string]

In [46]:
sellers.show()

+--------------------+
|             SellerG|
+--------------------+
|              LITTLE|
|                 S&L|
|              Ristic|
|            Langwell|
|             Ruralco|
|             Xynergy|
|               Ryder|
|               iSell|
|               Scott|
|              Wilson|
|          McNaughton|
|           Blackbird|
|hockingstuart/Biggin|
|               Lucas|
|                 One|
|         Buxton/Find|
|                Real|
|            Sterling|
|             Compton|
|           Tiernan's|
+--------------------+
only showing top 20 rows

In [47]:
sellers.count()

res36: Long = 388

In [48]:

df_result.filter("SellerG IS NULL").count()

res37: Long = 0

#### 7. Date

In [49]:
val dates = df_result.select("Date").distinct()

dates: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [Date: string]

In [50]:
dates.count()

res38: Long = 78

In [51]:
df_result.filter("Date IS NULL").count()

res39: Long = 0

In [52]:
dates.show()

+----------+
|      Date|
+----------+
|16/04/2016|
|29/04/2017|
|10/12/2016|
|19/08/2017|
| 7/05/2016|
| 8/07/2017|
| 4/03/2017|
|29/07/2017|
|27/05/2017|
|28/10/2017|
| 9/09/2017|
|26/07/2016|
|12/11/2016|
|25/02/2017|
| 6/05/2017|
|18/11/2017|
| 3/09/2016|
| 3/12/2016|
|25/11/2017|
| 3/06/2017|
+----------+
only showing top 20 rows

#### 8. CouncilArea

In [53]:
val sareas = df_result.select("CouncilArea").distinct()

sareas: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [CouncilArea: string]

In [54]:
sareas.count()

res41: Long = 34

In [55]:
sareas.show(34)

+--------------------+
|         CouncilArea|
+--------------------+
|Bayside City Council|
|Greater Dandenong...|
|   Hume City Council|
|Glen Eira City Co...|
|Kingston City Cou...|
|Nillumbik Shire C...|
| Monash City Council|
|Macedon Ranges Sh...|
|   Knox City Council|
|Wyndham City Council|
|Mitchell Shire Co...|
|Maribyrnong City ...|
|Whittlesea City C...|
|Whitehorse City C...|
|Frankston City Co...|
|Manningham City C...|
|Darebin City Council|
|Moreland City Cou...|
|Cardinia Shire Co...|
|Moonee Valley Cit...|
|Boroondara City C...|
|Yarra Ranges Shir...|
|  Casey City Council|
|Port Phillip City...|
|Brimbank City Cou...|
|                #N/A|
|Hobsons Bay City ...|
|Banyule City Council|
|Stonnington City ...|
| Melton City Council|
|  Yarra City Council|
|Melbourne City Co...|
|Moorabool Shire C...|
|Maroondah City Co...|
+--------------------+

In [56]:

df_result.filter("CouncilArea IS NULL").count()

res43: Long = 0

#### 9. Regionname

In [57]:
df_result.select("Regionname").distinct.show()

+--------------------+
|          Regionname|
+--------------------+
|South-Eastern Met...|
|Western Metropolitan|
|Eastern Metropolitan|
|    Eastern Victoria|
|                #N/A|
|   Northern Victoria|
|Northern Metropol...|
|Southern Metropol...|
|    Western Victoria|
+--------------------+

In [58]:

df_result.filter("Regionname IS NULL").count()

res45: Long = 0

#### 10. YearBuilt

In [59]:
df_result.filter("YearBuilt IS NULL").count()

res46: Long = 19306

In [60]:
df_result.select("YearBuilt").distinct.show()

+---------+
|YearBuilt|
+---------+
|   1988.0|
|   1976.0|
|   1951.0|
|   1940.0|
|   1928.0|
|   1900.0|
|   1979.0|
|   1856.0|
|   1953.0|
|   1830.0|
|   1913.0|
|   1987.0|
|   1909.0|
|   1959.0|
|   1934.0|
|   1904.0|
|   1978.0|
|   1968.0|
|   2010.0|
|   1881.0|
+---------+
only showing top 20 rows

#### 1. Price

In [61]:
df_result.filter("Price IS NULL").count()

res48: Long = 7610

In [62]:
//get rid of null in price
df_result=df_result.filter(!df_result("Price").isNull)

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

In [63]:
df_result.select("Price").distinct().show()

+---------+
|    Price|
+---------+
| 300000.0|
| 495000.0|
|1185000.0|
| 330000.0|
| 532000.0|
| 940500.0|
| 452500.0|
| 640500.0|
| 431500.0|
|1155500.0|
| 474000.0|
| 546000.0|
|1483000.0|
| 671000.0|
|1055000.0|
| 677776.0|
|2053000.0|
|1259000.0|
| 975500.0|
|4690000.0|
+---------+
only showing top 20 rows

In [ ]:
// histogram
val (startValues,counts) = df_result.select($"Price")
    .rdd.map(r => r.getDouble(0))
    .histogram()

In [ ]:
val zippedValues = startValues.zip(counts)
case class HistRow(startPoint:Double,count:Long)
val rowRDD = zippedValues.map( value => HistRow(value._1,value._2))
val histDf = org.apache.spark.sql.SparkSession.createDataFrame(rowRDD)
histDf.createOrReplaceTempView("histogramTable")

In [ ]:
val _tmpHist = df_result
    .select($"Price" cast "double")
    .rdd.map(r => r.getDouble(0))
    .histogram(thresholds)

// Result DataFrame contains `from`, `to` range and the `value`.
val histogram = sc.parallelize((thresholds, thresholds.tail, _tmpHist).zipped.toList).toDF("from", "to", "value")

In [64]:
df_result.describe().select("summary","Price","Suburb").show()

+-------+-----------------+----------+
|summary|            Price|    Suburb|
+-------+-----------------+----------+
|  count|            27247|     27247|
|   mean|1050173.344955408|      null|
| stddev|641467.1301045999|      null|
|    min|          85000.0|Abbotsford|
|    max|           1.12E7|Yarraville|
+-------+-----------------+----------+

In [65]:
df.where("Price >10000000").select("Address","Rooms","Type","Price","Method","SellerG","Date","Distance","Postcode","Bathroom","Car", "Propertycount").count()

res51: Long = 1

#### 1. Rooms

In [66]:
df_result.filter("Rooms IS NULL").count()

res52: Long = 0

In [67]:
df_result.select("Rooms").distinct().show()

+-----+
|Rooms|
+-----+
|  8.0|
|  7.0|
|  1.0|
|  4.0|
|  3.0|
|  2.0|
| 10.0|
|  6.0|
|  5.0|
|  9.0|
| 16.0|
| 12.0|
+-----+

<span style="font-size:16pt;color: red">TO DO: HISTOGRAMS IS IT POSSIBLE? </span> .

In [ ]:
df_result.groupBy("Rooms").count().rdd.histogram()

In [ ]:
histogram(df_result, df_result("Rooms"), nbins = 10)

In [ ]:
df_result.select("Rooms").createOrReplaceTempView("histogramTable").show()

#### 2. Distance

In [68]:
df_result.filter("Distance IS NULL").count()

res54: Long = 1

In [69]:
df_result.select("Distance").distinct.count()

res55: Long = 214

In [70]:
df_result.select("Distance")

res56: org.apache.spark.sql.DataFrame = [Distance: double]

In [71]:
df_result.select("Distance").distinct.show(213)

+--------+
|Distance|
+--------+
|    14.9|
|    13.4|
|    15.5|
|    15.4|
|     2.4|
|     8.0|
|    10.2|
|    24.7|
|    32.3|
|     0.0|
|    17.9|
|    43.3|
|    11.4|
|     5.4|
|    23.8|
|    16.6|
|     7.0|
|    11.5|
|     3.5|
|    31.7|
|     6.1|
|     9.5|
|     7.7|
|    17.3|
|    25.2|
|    31.6|
|     6.6|
|    34.7|
|    20.5|
|     8.7|
|    13.3|
|    28.8|
|    12.5|
|     3.7|
|    10.3|
|     4.5|
|    19.9|
|     5.7|
|     1.4|
|    26.1|
|     6.7|
|     0.7|
|     7.4|
|     2.3|
|    13.8|
|     6.5|
|    45.2|
|    null|
|    19.6|
|     3.4|
|    21.1|
|    16.1|
|    18.0|
|    35.4|
|    20.8|
|    16.7|
|    16.5|
|    23.6|
|    12.8|
|     8.4|
|     2.5|
|    23.2|
|    39.0|
|     9.8|
|    17.5|
|    18.4|
|    12.3|
|    34.6|
|    44.2|
|    22.9|
|    12.1|
|     3.1|
|    21.3|
|    20.1|
|    13.9|
|    12.9|
|     2.7|
|    25.0|
|    14.2|
|    22.7|
|     4.1|
|    39.8|
|    12.4|
|     2.8|
|    34.9|
|    41.0|
|     9.3|
|     8.8|
|     8.6|
|    15.2|
|    11.2|
|    35.5|
|    21.8|
|    11.1|
|     7.5|
|     4.0|
|     1.9|
|    10.1|
|    43.4|
|    29.8|
|    10.8|
|     8.9|
|    23.0|
|    24.8|
|    33.3|
|     6.2|
|     9.4|
|    14.5|
|    34.1|
|    10.6|
|    25.9|
|    33.8|
|     3.8|
|    14.6|
|     5.1|
|    22.2|
|    37.5|
|    13.7|
|     4.2|
|     9.9|
|    14.7|
|    35.2|
|     1.3|
|    15.3|
|    48.1|
|     7.3|
|     4.3|
|    11.0|
|     7.9|
|    23.5|
|    10.7|
|     5.3|
|    13.5|
|     8.5|
|    14.0|
|    17.2|
|    27.1|
|    36.9|
|     3.2|
|    12.2|
|     7.2|
|    13.1|
|    14.3|
|    27.2|
|     1.6|
|    12.6|
|     3.0|
|    29.3|
|    13.6|
|    29.5|
|    28.5|
|    20.4|
|     2.0|
|    10.9|
|     1.2|
|     6.9|
|     1.8|
|     1.5|
|    47.3|
|     9.1|
|     8.2|
|    27.7|
|     6.8|
|    18.7|
|     7.8|
|    21.5|
|     6.3|
|     2.6|
|    12.7|
|    38.0|
|    27.0|
|    26.5|
|     5.9|
|    13.0|
|     4.4|
|    45.9|
|    10.4|
|     5.2|
|    14.8|
|    33.0|
|     4.6|
|     6.4|
|    16.2|
|    20.0|
|    11.8|
|     3.6|
|    25.5|
|    31.4|
|    17.4|
|     9.2|
|    15.0|
|     5.0|
|     9.7|
|    30.4|
|     2.1|
|    16.3|
|    11.7|
|    10.5|
|    31.2|
|     5.8|
|    20.6|
|     9.0|
|    26.0|
|    47.4|
|     5.5|
|    16.0|
|     3.3|
|    12.0|
|    23.3|
|     8.1|
|     5.6|
|    17.6|
|    18.8|
+--------+
only showing top 213 rows

#### 3. Bathroom

In [72]:
df_result.filter("Bathroom IS NULL").count()

res58: Long = 6447

In [73]:
df_result= df_result.filter(!df_result("Bathroom").isNull)
df_result.select("Bathroom").distinct.show()

+--------+
|Bathroom|
+--------+
|     8.0|
|     0.0|
|     7.0|
|     1.0|
|     4.0|
|     3.0|
|     2.0|
|     6.0|
|     5.0|
|     9.0|
+--------+

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

#### 4. Car

In [74]:
df.filter("Car IS NULL").count()

res60: Long = 8728

In [75]:
df_result.select("Car").distinct.show()

+----+
| Car|
+----+
| 8.0|
| 0.0|
| 7.0|
|null|
|18.0|
| 1.0|
| 4.0|
|11.0|
| 3.0|
| 2.0|
|10.0|
| 6.0|
| 5.0|
| 9.0|
+----+

In [76]:
df_result= df_result.filter(!df_result("Car").isNull)
df_result.select("Car").distinct.show()

+----+
| Car|
+----+
| 8.0|
| 0.0|
| 7.0|
|18.0|
| 1.0|
| 4.0|
|11.0|
| 3.0|
| 2.0|
|10.0|
| 6.0|
| 5.0|
| 9.0|
+----+

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

#### 5. Landsize

In [77]:
df_result.filter("Landsize IS NULL").count()

res63: Long = 2722

In [78]:
df_result.select("Landsize").distinct.count()

res64: Long = 1546

In [79]:
df_result= df_result.filter(!df_result("Landsize").isNull)
df_result.select("Landsize").distinct.count()

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]
res65: Long = 1545

#### 6. BuildingArea

In [80]:
df_result.filter("BuildingArea IS NULL").count()

res66: Long = 8457

In [81]:
df_result.select("BuildingArea").distinct.count()

res67: Long = 640

In [82]:
df_result= df_result.filter(!df_result("BuildingArea").isNull)
df_result.select("BuildingArea").distinct.show(640)

+------------+
|BuildingArea|
+------------+
|       305.0|
|       558.0|
|       934.0|
|       496.0|
|       147.0|
|       170.0|
|       720.0|
|       184.0|
|    140.7481|
|       169.0|
|       160.0|
|        72.3|
|        53.3|
|        70.0|
|       311.0|
|        67.0|
|       168.0|
|        69.0|
|       206.0|
|         0.0|
|       650.0|
|      298.21|
|       389.0|
|       390.0|
|       594.0|
|      129.92|
|       365.0|
|       249.0|
|         7.0|
|       112.9|
|      115.96|
|       677.0|
|       401.0|
|       142.0|
|       191.0|
|       329.0|
|       112.0|
|       154.0|
|       35.64|
|      200.71|
|       113.6|
|       232.0|
|       521.0|
|       124.0|
|       438.0|
|       348.0|
|       303.0|
|       410.0|
|       625.0|
|       317.0|
|       253.0|
|       331.0|
|       153.1|
|       128.0|
|       201.0|
|       353.0|
|       235.0|
|       93.84|
|      409.54|
|      118.54|
|      121.84|
|       180.0|
|       108.0|
|       271.0|
|       255.0|
|       439.0|
|       430.0|
|       355.0|
|       234.0|
|      111.04|
|      122.86|
|      182.85|
|       133.0|
|       672.0|
|       181.0|
|       449.0|
|       358.0|
|       673.0|
|       148.5|
|        88.0|
|       280.0|
|      136.49|
|       660.0|
|       286.0|
|        49.0|
|       156.6|
|       100.6|
|       155.0|
|       214.0|
|       443.0|
|        63.4|
|       116.4|
|       301.0|
|       584.0|
|       478.0|
|       350.0|
|       101.0|
|       321.0|
|       217.0|
|       116.0|
|        98.0|
|       167.0|
|       238.0|
|       342.0|
|        45.4|
|       107.0|
|       268.0|
|       182.0|
|       427.0|
|       413.0|
|       225.5|
|       221.3|
|        29.0|
|        75.0|
|        64.0|
|        47.0|
|       279.0|
|       508.0|
|        42.0|
|       380.0|
|       103.6|
|        94.3|
|        92.5|
|       89.25|
|       737.0|
|       144.0|
|       215.0|
|       538.0|
|       490.0|
|       465.0|
|        44.0|
|       236.0|
|       93.82|
|       437.0|
|        96.0|
|        62.0|
|        35.0|
|       126.7|
|       219.0|
|       378.0|
|       151.0|
|       419.0|
|       405.0|
|        30.6|
|        18.0|
|       395.0|
|       275.0|
|       529.0|
|       346.0|
|       258.0|
|       665.0|
|      123.21|
|      151.54|
|        86.0|
|        80.0|
|       178.0|
|       218.0|
|       171.0|
|       324.0|
|       120.0|
|       161.0|
|       147.2|
|       237.0|
|      131.27|
|       139.0|
|       287.0|
|       393.0|
|       513.0|
|       251.0|
|       177.0|
|       308.0|
|       229.0|
|       426.0|
|        85.2|
|      183.84|
|       159.0|
|       356.0|
|       373.0|
|       518.0|
|       231.0|
|       339.0|
|       272.0|
|       274.0|
|      110.87|
|       207.0|
|       267.0|
|       377.0|
|       328.0|
|       634.0|
|       104.0|
|         1.0|
|        39.0|
|       294.0|
|       408.0|
|       603.0|
|       312.0|
|        63.7|
|       105.7|
|      183.97|
|       154.3|
|       179.0|
|       104.4|
|       266.0|
|       250.0|
|       547.0|
|       126.8|
|       448.0|
|        94.0|
|       270.0|
|       300.0|
|       165.5|
|       135.5|
|       210.0|
|       179.3|
|       466.0|
|       121.0|
|       114.0|
|       205.0|
|       239.0|
|       166.0|
|      210.68|
|        34.0|
|        37.0|
|       292.0|
|        25.0|
|       196.1|
|       225.0|
|        36.0|
|        68.5|
|       700.0|
|       345.0|
|       309.0|
|       364.0|
|        41.0|
|       288.0|
|       344.0|
|        86.5|
|       78.54|
|       334.0|
|       220.0|
|       314.0|
|       414.0|
|       149.0|
|       216.0|
|       293.0|
|       134.6|
|       66.32|
|       193.0|
|       423.0|
|       180.9|
|       792.0|
|       284.0|
|       337.0|
|       544.0|
|       808.0|
|       453.0|
|       295.0|
|        39.5|
|       204.0|
|       340.0|
|         4.0|
|      1041.0|
|       349.0|
|       137.0|
|       245.0|
|       246.0|
|      113.81|
|       227.6|
|       649.0|
|       212.0|
|       296.0|
|       318.0|
|       424.0|
|        98.5|
|       495.0|
|       326.0|
|        85.0|
|       145.0|
|       122.0|
|       435.0|
|       330.0|
|      105.23|
|       85.35|
|       165.0|
|       197.0|
|       370.0|
|       789.0|
|       585.0|
|        61.6|
|       516.0|
|       252.0|
|       140.0|
|        77.0|
|       199.0|
|       282.0|
|        77.5|
|       199.5|
|       368.0|
|        50.0|
|        56.0|
|      266.53|
|       123.0|
|       242.0|
|       285.0|
|        78.0|
|       248.0|
|       367.0|
|       66.23|
|       397.0|
|        79.0|
|       113.0|
|       213.0|
|       530.0|
|       272.4|
|      180.56|
|       259.0|
|       302.0|
|       351.0|
|    826.8367|
|        83.0|
|       618.0|
|        45.0|
|       134.0|
|       129.0|
|       525.0|
|       101.7|
|       118.0|
|       323.0|
|       95.88|
|       186.0|
|        71.0|
|       719.0|
|       416.0|
|       143.0|
|       361.0|
|       156.0|
|       173.0|
|       528.0|
|      225.98|
|        93.0|
|       241.0|
|       320.0|
|    371.6122|
|       464.3|
|       132.6|
|        43.7|
|       310.0|
|       467.0|
|    195.0964|
|       132.0|
|       281.0|
|       162.0|
|      173.45|
|       736.0|
|        94.5|
|       146.0|
|       164.0|
|      130.52|
|       230.0|
|       103.0|
|       400.0|
|        11.0|
|       534.0|
|       106.0|
|        58.0|
|       298.0|
|       264.0|
|       332.0|
|        80.7|
|       130.0|
|        51.0|
|        72.0|
|        21.0|
|        14.0|
|      6791.0|
|      1561.0|
|       109.0|
|      1143.0|
|      101.51|
|       391.0|
|       129.7|
|       105.9|
|       336.0|
|       697.0|
|       111.0|
|       411.0|
|        63.0|
|       157.0|
|       273.0|
|        48.0|
|      116.65|
|       109.5|
|        22.0|
|       613.0|
|       836.0|
|        82.0|
|       262.0|
|        60.0|
|        74.0|
|       247.0|
|       575.0|
|        66.0|
|       175.0|
|       297.0|
|      178.74|
|       654.0|
|       307.0|
|       169.5|
|      148.47|
|       291.0|
|      3558.0|
|       142.6|
|      186.75|
|       392.0|
|       263.5|
|       553.0|
|       325.0|
|       243.0|
|        68.0|
|       461.0|
|       139.4|
|       114.2|
|       81.79|
|         3.0|
|        53.0|
|        19.0|
|        61.0|
|       195.0|
|       189.0|
|       362.0|
|       106.2|
|       75.45|
|       341.0|
|        81.0|
|        59.0|
|       202.0|
|       221.0|
|       182.9|
|        46.0|
|       338.0|
|      266.76|
|       352.0|
|       333.0|
|      199.73|
|        88.3|
|        28.0|
|       68.11|
|       366.0|
|       254.0|
|        57.0|
|       399.0|
|       502.0|
|         2.0|
|       557.0|
|       289.0|
|        87.0|
|       183.0|
|       198.0|
|       176.0|
|       106.9|
|       200.0|
|       372.0|
|       347.0|
|       653.0|
|       257.0|
|        99.5|
|      101.76|
|       454.0|
|       431.0|
|       503.0|
|       463.0|
|       152.0|
|       153.0|
|       187.0|
|       290.0|
|      515.78|
|       135.0|
|       475.0|
|       119.0|
|      255.79|
|      184.75|
|       388.5|
|       315.0|
|       444.0|
|       196.0|
|      122.25|
|        38.0|
|      109.98|
|       420.0|
|       277.0|
|      306.19|
|        27.0|
|       141.0|
|       138.0|
|       115.0|
|       261.0|
|       208.0|
|        10.0|
|      124.45|
|      104.63|
|        73.0|
|       263.0|
|       357.0|
|       686.0|
|       125.0|
|        40.0|
|        30.0|
|       607.0|
|       316.0|
|       107.4|
|    157.9352|
|       727.0|
|       260.0|
|       194.0|
|       766.0|
|        99.0|
|        13.0|
|       211.0|
|       560.0|
|       127.0|
|       188.0|
|       256.0|
|       335.0|
|      101.37|
|      193.74|
|        95.0|
|       407.0|
|       276.0|
|        82.3|
|       177.8|
|       185.0|
|       224.0|
|       123.5|
|       100.0|
|       102.0|
|       131.0|
|      3112.0|
|       354.0|
|       501.0|
|        84.0|
|        33.0|
|       283.0|
|    157.9351|
|      167.87|
|        92.0|
|       172.0|
|       327.0|
|       374.0|
|       181.6|
|      167.13|
|       233.0|
|       106.4|
|       269.0|
|       425.0|
|      6178.0|
|       227.0|
|        20.0|
|       76.77|
|       477.0|
|      113.76|
|       113.2|
|     44515.0|
|        52.0|
|      186.36|
|       222.0|
|       228.0|
|        32.0|
|        97.0|
|         5.0|
|       265.0|
|        15.0|
|       127.8|
|       105.0|
|       319.0|
|        89.0|
|       363.0|
|      270.18|
|       192.0|
|       360.0|
|       190.0|
|       680.0|
|       117.0|
|       240.0|
|       126.0|
|       121.8|
|        44.4|
|       447.0|
|       163.0|
|       136.0|
|       209.0|
|       306.0|
|        55.0|
|        82.6|
|       226.0|
|       520.0|
|       418.0|
|       223.0|
|        26.0|
|         9.0|
|      106.76|
|       540.0|
|        65.0|
|       470.0|
|       304.0|
|       506.0|
|       196.8|
|      168.01|
|       150.0|
|       244.0|
|        16.0|
|       375.0|
|       429.0|
|        12.0|
|       278.0|
|       313.0|
|        72.9|
|       531.0|
|       406.0|
|       174.0|
|        54.0|
|        76.0|
|       158.0|
|       148.0|
|        43.0|
|       134.3|
|       398.0|
|        90.0|
|       512.0|
|       322.0|
|       450.0|
|        42.2|
|       417.0|
|       110.0|
|        91.0|
|       203.0|
|      1022.0|
|       446.0|
|       500.0|
|       487.0|
+------------+

df_result: org.apache.spark.sql.DataFrame = [Suburb: string, Rooms: double ... 20 more fields]

In [83]:
df_result.count

res69: Long = 9244

#### 7. Propertycount

In [84]:
df_result.filter("Propertycount IS NULL").count()

res70: Long = 0

In [85]:
df_result.select("BuildingArea").distinct.count()

res71: Long = 639

In [86]:
df_result.select("Propertycount").distinct.show(639)

+-------------+
|Propertycount|
+-------------+
|       1369.0|
|       4385.0|
|        608.0|
|       3640.0|
|      11925.0|
|       4718.0|
|        973.0|
|       1554.0|
|        389.0|
|       2954.0|
|        249.0|
|        984.0|
|        902.0|
|       1130.0|
|       3755.0|
|        802.0|
|       2417.0|
|       5051.0|
|        438.0|
|       6065.0|
|      11308.0|
|       3284.0|
|        588.0|
|       8524.0|
|       4497.0|
|      10160.0|
|       3600.0|
|       4654.0|
|       6938.0|
|       4973.0|
|       2949.0|
|       1123.0|
|       2291.0|
|       1345.0|
|       1475.0|
|       6380.0|
|       3224.0|
|       8743.0|
|       6464.0|
|       1607.0|
|       6795.0|
|       9028.0|
|      11364.0|
|      17384.0|
|       7082.0|
|       4707.0|
|       6388.0|
|       7822.0|
|       6990.0|
|      10788.0|
|       1624.0|
|       5556.0|
|       4704.0|
|       2555.0|
|       8989.0|
|       5837.0|
|       5811.0|
|        642.0|
|       5262.0|
|       2547.0|
|       6923.0|
|       2674.0|
|       1442.0|
|       2356.0|
|       1889.0|
|       3106.0|
|       4605.0|
|      10331.0|
|       1008.0|
|       1721.0|
|       4898.0|
|      14949.0|
|      17496.0|
|       4380.0|
|       2768.0|
|       7570.0|
|       6482.0|
|      11204.0|
|       2890.0|
|      10412.0|
|       6763.0|
|       2309.0|
|       2671.0|
|       2887.0|
|       3052.0|
|       1490.0|
|       3376.0|
|       8870.0|
|       2339.0|
|        709.0|
|       5420.0|
|       5498.0|
|       2276.0|
|      11806.0|
|       2474.0|
|       1240.0|
|       4502.0|
|       1058.0|
|       2170.0|
|       7809.0|
|       3650.0|
|       2230.0|
|       5366.0|
|       3906.0|
|       2878.0|
|       1705.0|
|       1071.0|
|       4242.0|
|       1124.0|
|       3789.0|
|      10969.0|
|       1281.0|
|       4019.0|
|       3988.0|
|       4918.0|
|       4675.0|
|      10175.0|
|       2379.0|
|       5336.0|
|       1543.0|
|       1899.0|
|       4790.0|
|       4794.0|
|       7719.0|
|       4294.0|
|       3598.0|
|       2985.0|
|       3589.0|
|       5058.0|
|       5833.0|
|       2397.0|
|       5825.0|
|      10529.0|
|       4217.0|
|       3351.0|
|       5454.0|
|      14887.0|
|       4864.0|
|       5629.0|
|       2546.0|
|       5678.0|
|      14042.0|
|       2211.0|
|       1223.0|
|       6567.0|
|       6244.0|
|       1160.0|
|       3265.0|
|       1414.0|
|       2206.0|
|       2970.0|
|       5682.0|
|       3873.0|
|       6202.0|
|       2076.0|
|       3593.0|
|       4442.0|
|       7412.0|
|      21650.0|
|      11667.0|
|       3553.0|
|       2246.0|
|       1308.0|
|       2606.0|
|        534.0|
|       3040.0|
|       2185.0|
|       4048.0|
|        821.0|
|       7254.0|
|       1690.0|
|       2952.0|
|      10926.0|
|       4054.0|
|       2493.0|
|       5087.0|
|       2243.0|
|       2894.0|
|       3285.0|
|       4734.0|
|       5943.0|
|       3891.0|
|       4181.0|
|       4387.0|
|       2898.0|
|       1863.0|
|       2651.0|
|        790.0|
|      15542.0|
|       1158.0|
|       2698.0|
|       2591.0|
|       3464.0|
|       5533.0|
|       4407.0|
|       2727.0|
|        849.0|
|       2871.0|
|       5549.0|
|       2019.0|
|       1686.0|
|        851.0|
|       8443.0|
|        962.0|
|       3296.0|
|       3540.0|
|       3619.0|
|       8077.0|
|       2346.0|
|       4258.0|
|      13366.0|
|       5263.0|
|       1390.0|
|       3794.0|
|       4836.0|
|       1651.0|
|       2866.0|
|       8060.0|
|       3582.0|
|       4553.0|
|       9376.0|
|       1119.0|
|       5713.0|
|      11918.0|
|       6232.0|
|       3940.0|
|       4280.0|
|       1999.0|
|        290.0|
|       8322.0|
|        915.0|
|       7969.0|
|       7785.0|
|       8459.0|
|      14092.0|
|       4480.0|
|       2403.0|
|       2867.0|
|       6871.0|
|      13830.0|
|       7955.0|
|      10579.0|
|       1793.0|
|       2079.0|
|       1989.0|
|        938.0|
|      10999.0|
|       2500.0|
|       8279.0|
|       5030.0|
|       5812.0|
|       3122.0|
|       8648.0|
|       1808.0|
|       3533.0|
|       3692.0|
|       7485.0|
|      14577.0|
|       7566.0|
|       9704.0|
|       2259.0|
|       8400.0|
|       7392.0|
|       5132.0|
|       1052.0|
|      13240.0|
|       3578.0|
|       2947.0|
|      16166.0|
|       2329.0|
|      17093.0|
|        892.0|
|      17055.0|
|      10894.0|
|       6821.0|
|       9264.0|
|       3656.0|
|       7113.0|
|       8256.0|
|       5424.0|
|       3532.0|
|        394.0|
|       2332.0|
|       7217.0|
|       1328.0|
|        570.0|
|       6543.0|
|       1202.0|
|       9758.0|
|      15321.0|
|       3145.0|
|        768.0|
|       7717.0|
|       2940.0|
|       2824.0|
|       8920.0|
|       5070.0|
|       8280.0|
|       3728.0|
|       7630.0|
|       3307.0|
|       3445.0|
|       8801.0|
|       1184.0|
|       2126.0|
|       3280.0|
|       2003.0|
|       7680.0|
|       5301.0|
|       6786.0|
|       6162.0|
|       5457.0|
|        852.0|
|      15510.0|
|       2756.0|
+-------------+

In [87]:
df_result.describe().select("summary","Price", "Rooms","Distance","Bathroom","Car").show()

+-------+------------------+------------------+-----------------+------------------+------------------+
|summary|             Price|             Rooms|         Distance|          Bathroom|               Car|
+-------+------------------+------------------+-----------------+------------------+------------------+
|  count|              9244|              9244|             9244|              9244|              9244|
|   mean|1092328.5888143661|3.0981176979662486|11.24115101687565|1.6524231934227607|1.6953699697100821|
| stddev| 679621.2070858623| 0.964029421835851|6.882570344620598|0.7249913332194025| 0.975528875592598|
|    min|          131000.0|               1.0|              0.0|               1.0|               0.0|
|    max|         9000000.0|              12.0|             48.1|               9.0|              10.0|
+-------+------------------+------------------+-----------------+------------------+------------------+

In [88]:
df_result.describe().select("summary","Landsize","Propertycount").show()

+-------+------------------+-----------------+
|summary|          Landsize|    Propertycount|
+-------+------------------+-----------------+
|  count|              9244|             9244|
|   mean| 528.8338381652964|7463.866724361748|
| stddev|1212.9650900679794|4369.422309704771|
|    min|               0.0|            249.0|
|    max|           44500.0|          21650.0|
+-------+------------------+-----------------+

In [89]:
df_result.count()

res75: Long = 9244

#### Filtering null values

In [ ]:
val df_not_null = df_result.na.drop
df_not_null.count()

In [ ]:
df_not_null.printSchema()

#### Imputing null values

### Group By and  Aggregation

In [91]:
df_result.groupBy("Suburb").agg(max("Price")).show()

+----------------+----------+
|          Suburb|max(Price)|
+----------------+----------+
|  Brunswick West| 2350000.0|
| South Melbourne| 3050000.0|
|    Ivanhoe East| 3850000.0|
|    Princes Hill| 1908000.0|
|      Cranbourne|  910500.0|
|         Ashwood| 1850000.0|
|       Brunswick| 2545000.0|
|South Kingsville| 1030000.0|
|        Brighton| 5150000.0|
|        Oak Park| 1390000.0|
|         Doveton|  707000.0|
|       Albanvale|  560000.0|
|      Brookfield|  538000.0|
|     Pascoe Vale| 1570000.0|
| Blackburn North| 1570000.0|
|     Sandringham| 2700000.0|
|   Botanic Ridge|  750000.0|
|          Carrum|  980000.0|
|      Ascot Vale| 2425000.0|
|  Sunshine North| 1190000.0|
+----------------+----------+
only showing top 20 rows

In [92]:
df_result.groupBy("Suburb").agg(min("Price")).show()

+----------------+----------+
|          Suburb|min(Price)|
+----------------+----------+
|  Brunswick West|  252000.0|
| South Melbourne|  407500.0|
|    Ivanhoe East|  470000.0|
|    Princes Hill| 1600000.0|
|      Cranbourne|  720008.0|
|         Ashwood|  600000.0|
|       Brunswick|  272500.0|
|South Kingsville|  380000.0|
|        Brighton|  290000.0|
|        Oak Park|  470000.0|
|         Doveton|  450000.0|
|       Albanvale|  506000.0|
|      Brookfield|  456000.0|
|     Pascoe Vale|  248500.0|
| Blackburn North|  706000.0|
|     Sandringham|  643500.0|
|   Botanic Ridge|  750000.0|
|          Carrum|  495000.0|
|      Ascot Vale|  390000.0|
|  Sunshine North|  435000.0|
+----------------+----------+
only showing top 20 rows

In [93]:
df_result.groupBy("Distance").agg(round(mean("Price"),0)).show()

+--------+--------------------+
|Distance|round(avg(Price), 0)|
+--------+--------------------+
|    14.9|            739543.0|
|    15.5|           1038966.0|
|    13.4|           1244368.0|
|    15.4|           1018147.0|
|     2.4|           1192184.0|
|     8.0|           1159445.0|
|    10.2|           1958140.0|
|    24.7|            698971.0|
|    32.3|            623000.0|
|     0.0|            603000.0|
|    17.9|            841709.0|
|    43.3|            563000.0|
|    11.4|           1040141.0|
|     5.4|           2048658.0|
|    16.6|            658000.0|
|    23.8|            625500.0|
|     7.0|           1062146.0|
|    11.5|            746754.0|
|     3.5|           1397590.0|
|    31.7|            494725.0|
+--------+--------------------+
only showing top 20 rows

### Correlation
 <span style="font-size:16pt;color: red">TO DO: FIND OUT CORRELATIONS between theses attributes </span> .

Rooms:
|-- Price:
|-- Distance:
|-- Rooms:
|-- Bathroom:
|-- Car:
|-- Landsize:
|-- BuildingArea:
|-- YearBuilt:

In [94]:
import org.apache.spark.sql.functions.corr
df_result.select(corr("Distance","Price")).show()

+---------------------+
|corr(Distance, Price)|
+---------------------+
| -0.23109535854491728|
+---------------------+

import org.apache.spark.sql.functions.corr

In [95]:
df_result.select(corr("Rooms","Price")).show()

+------------------+
|corr(Rooms, Price)|
+------------------+
|0.4725354566255438|
+------------------+

In [96]:
df_result.select(corr("Bathroom","Price")).show()

+---------------------+
|corr(Bathroom, Price)|
+---------------------+
|  0.46131865546350354|
+---------------------+

In [97]:
df_result.select(corr("Car","Price")).show()

+------------------+
|  corr(Car, Price)|
+------------------+
|0.2084128379555887|
+------------------+

In [98]:
df_result.select(corr("BuildingArea","Price")).show()

+-------------------------+
|corr(BuildingArea, Price)|
+-------------------------+
|      0.09644609706275929|
+-------------------------+

In [99]:
df_result.select(corr("Landsize","Price")).show()

+---------------------+
|corr(Landsize, Price)|
+---------------------+
|  0.05230373296484904|
+---------------------+

In [100]:
df_result.select(corr("Date","Price")).show()

+-----------------+
|corr(Date, Price)|
+-----------------+
|             null|
+-----------------+

In [101]:
df_result.select(corr("YearBuilt","Price")).show()

+----------------------+
|corr(YearBuilt, Price)|
+----------------------+
|  -0.31382021680954214|
+----------------------+

In [102]:
df_result.select(corr("Propertycount","Price")).show()

+--------------------------+
|corr(Propertycount, Price)|
+--------------------------+
|      -0.05930593500382...|
+--------------------------+

### Select relevant features:

In [103]:

df_result = df_result.select("Price","Method","Type","Distance","Rooms","Bathroom","Car","Landsize","Propertycount", "Suburb","Street","Date")

df_result: org.apache.spark.sql.DataFrame = [Price: double, Method: string ... 10 more fields]

#### Write down clean data:

In [104]:
! hadoop fs -mkdir -p /tmp/output

In [109]:
! hadoop fs -ls -R /tmp

drwxrwx---   - root supergroup          0 2020-05-20 13:17 /tmp/hadoop-yarn


drwxrwx---   - root supergroup          0 2020-05-20 13:17 /tmp/hadoop-yarn/staging


drwxrwx---   - root supergroup          0 2020-05-20 13:17 /tmp/hadoop-yarn/staging/history


drwxrwx---   - root supergroup          0 2020-05-20 13:17 /tmp/hadoop-yarn/staging/history/done


drwxrwxrwt   - root supergroup          0 2020-05-20 13:17 /tmp/hadoop-yarn/staging/history/done_intermediate


drwxr-xr-x   - root supergroup          0 2020-05-21 04:16 /tmp/output


drwxr-xr-x   - root supergroup          0 2020-05-20 13:21 /tmp/rs_in


-rw-r--r--   1 root root          5018236 2020-05-15 05:20 /tmp/rs_in/mh.csv

In [ ]:
df_result.coalesce(1).write.format("csv").option("header","true").mode("overwrite").option("sep",",").save("hdfs://localhost:9000/tmp/output")

In [ ]:
df_result.coalesce(1).write.format("csv").option("header","true").mode("overwrite").csv("hdfs://localhost:9000/tmp/output")

In [108]:
! hadoop fs -ls /tmp/output

In [ ]:
!rm ./output.csv

Save the clean data to disk

In [ ]:
! hadoop fs -copyToLocal /tmp/output/\*.csv./../data-clean/mh.csv

## References

Apache Spark (n.d.). _Spark Scala API (Scaladoc). Overview._ https://spark.apache.org/docs/latest/api/java/overview-summary.html

Apache Spark (n.d.). _Basic Statistic._ https://spark.apache.org/docs/latest/ml-statistics.html

Bahadoor N. (2020). _Spark Tutorials_ https://allaboutscala.com/big-data/spark/#dataframe-statistics-correlation

Databricks. (2020). _Introduction to DataFrames - Scala._  https://docs.databricks.com/spark/latest/dataframes-datasets/introduction-to-dataframes-scala.html 

Grimaldi E. (2018). _Pandas vs. Spark: how to handle dataframes (Part II.)_  https://towardsdatascience.com/python-pandas-vs-scala-how-to-handle-dataframes-part-ii-d3e5efe8287d